In [1]:
import duckdb
import json
import pandas as pd

In [2]:
conn = duckdb.connect(database=":memory:")

In [3]:
df = pd.read_parquet("profiles/booker_details/part-00000-926fa82c-54d5-43d5-bf50-da8569a2dfb9-c000.snappy.parquet")

In [4]:
df["PersonID"].head(5)

0     2769
1     6535
2     6807
3    18353
4    20348
Name: PersonID, dtype: int64

In [6]:
personid = 2769

In [10]:
df.columns

Index(['PersonID', 'BookerFirstName', 'BookerLastName', 'BookerEmailAddress',
       'BookerMobile', 'TotalRevenue', 'BookerType', 'BookerCity',
       'LatestDate', 'FirstDate',
       ...
       'AgeRange_separator_1_to_10', 'AgeRange_separator_41_to_50',
       'AgeRange_separator_51_to_60', 'AgeRange_separator_91_to_100',
       'AgeRange_separator_21_to_30', 'AgeRange_separator_31_to_40',
       'TravelOrigin', 'TravelDestination', 'TravelSeat', 'Details'],
      dtype='object', length=114)

In [8]:
conn.execute(f"DROP TABLE IF EXISTS cdp_booker_{personid}")
conn.execute(f"CREATE TEMPORARY TABLE cdp_booker_{personid} AS SELECT * FROM read_parquet('profiles/booker_details/*.parquet') WHERE personid ='{personid}'")
booker_df = conn.execute(f"SELECT * FROM cdp_booker_{personid}").df()
booker_dict = booker_df.to_dict()

In [9]:
with open('booker.json','w') as file:
    json.dump(booker_dict,file)

In [2]:
print(len("TravelInsurance_separator_"))

26