In [2]:
import duckdb
import json
import pandas as pd

In [21]:
conn = duckdb.connect(database = ':memory:')
profile_type = "passenger"

if profile_type == "passenger":
        path = "passenger_details"
elif profile_type == "booker":
    path = "booker_details"

firstname = "Yves"
lastname = "Kangleon"
phone = 21212
email = None
id = None


conn.execute(f"DROP TABLE IF EXISTS cdp_profile")

query = f"CREATE TEMPORARY TABLE cdp_profile AS SELECT passenger_hash,firstname,lastname,phone,emailaddress FROM read_parquet('profiles/{path}/*.parquet') WHERE "

count = 0

if firstname is not None:
    query += f"firstname like ('{firstname}') "
    count += 1

if id is not None:
    query += f"passenger_hash = '{id}'"
    conn.execute(query)
    df = conn.execute(f"SELECT * FROM cdp_profile").df()
    df_dict = df.to_dict()
    # df_dict = {key:value[0] for key,value in df_dict.items() }
    json_data = json.dumps(df_dict, sort_keys=False)
    # return Response(json_data, content_type='application/json')



if lastname is not None:
    if count >= 1:
        query += "and "
    query += f"lastname like ('{lastname}') "

if email is not None:
    if count >= 1:
        query += "and "
    query += f"emailaddress like ('{email}') "

if phone is not None:
    if count >= 1:
        query += "and "
    query += f"phone like ('{phone}') "

query += " limit 50"

conn.execute(query)
print(query)

df = conn.execute(f"SELECT * FROM cdp_profile").df()
df_dict = df.to_dict()
df_dict = {key:value[0] for key,value in df_dict.items() }
json_data = json.dumps(df_dict, sort_keys=False)

CREATE TEMPORARY TABLE cdp_profile AS SELECT passenger_hash,firstname,lastname,phone,emailaddress FROM read_parquet('profiles/passenger_details/*.parquet') WHERE firstname like ('Yves') and lastname like ('Kangleon') and phone like ('21212')  limit 50

KeyError: 0

In [11]:
conn.execute(f"DROP TABLE IF EXISTS cdp_profile")

query = f"CREATE TEMPORARY TABLE cdp_profile AS SELECT passenger_hash,firstname,lastname,phone,emailaddress FROM read_parquet('profiles/{path}/*.parquet') WHERE firstname like ('ryan') limit 50"

conn.execute(query)

df = conn.execute(f"SELECT * FROM cdp_profile").df()

In [12]:
df.head()

,passenger_hash,FirstName,LastName,Phone,EmailAddress
0,6f9cecc6ecd2b946c46a3bdc03d5956b,ryan,ordas,Unknown,Unknown
1,a4e34ae013191acc574e4fca76297a28,ryan,del rosario,Unknown,chelsea.ylime03@gmail.com
2,e63d245cfc3aefb87c8b780d50841619,ryan,buella,Unknown,Unknown